<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469727888550-eknqjv729u9hdtl41cffeb541tfvbu1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469727888550-eknqjv729u9hdtl41cffeb541tfvbu1f</string>
	<key>API_KEY</key>
	<string>AIzaSyDFcUYyO6Z_7qfJF8zFOX17Ze7Got6NmEg</string>
	<key>GCM_SENDER_ID</key>
	<string>469727888550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonytf.linePlease</string>
	<key>PROJECT_ID</key>
	<string>lineplease-5aa9e</string>
	<key>STORAGE_BUCKET</key>
	<string>lineplease-5aa9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469727888550:ios:b61895fe3e3595fe1a6067</string>
	<key>DATABASE_URL</key>
	<string>https://lineplease-5aa9e.firebaseio.com</string>
</dict>
</plist>